*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.header{
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
    text-align: center;
    padding: 20px;
}
.header-content{
    width: 100%;
    max-width: 900px;
}
.header-image-top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.header-image img{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;

}

/* Header.css */
.mute-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #7e3af2;
    border: none;
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    z-index: 999;
  }
  
  .mute-button:hover {
    transform: scale(1.1);
    background-color: #5b28c0;
  }
  

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .modal-message {
    margin-bottom: 20px;
    color: #555;
  }
  
  .play-audio-button {
    background-color: #7C00FE;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .play-audio-button:hover {
    background-color: #7C00FE;
  }
  